.header-bg{
    background-color: #FFF9F4;
}
.logo-size{
    width: 291px;
    height: 40px;
}
.text-color{
    color: #FB8F61;
}
.img-bg{
    background-color: #F1F1F1;
}
.img-size{
    width: 311px;
    height: 311px;
}
.box-size{
    width: 78px;
    height: 82px;
}